<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.945973136262-8k0s811c7ip2cn0e4pfqgb7q4b56o38s</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>945973136262-8k0s811c7ip2cn0e4pfqgb7q4b56o38s.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>MoriGothic-Medium.ttf</string>
		<string>MoriGothic-Regular.ttf</string>
		<string>MoriGothic-Bold.ttf</string>
		<string>MoriGothic-SemiBold.ttf</string>
	</array>
</dict>
</plist>
